@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

/* LANDING PAGE */

.landing {
  min-height: 100vh;
  background-image: url(./images/tlo.jpg);
  background-size: cover;
  padding: 0rem 5rem;
  box-shadow: 0px 10px 20px #888888;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 15vh;
  color: #fff;
}
nav.scrolled {
  position: fixed;
  width: 100vw;
  background: rgb(34, 34, 34);
  left: 0;
  padding: 0 5vw;
  z-index: 1;
  transition: 0s, 0.5s linear;
}

#logo {
  font-size: 2rem;
  font-family: "Lobster", cursive;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  padding-left: 4rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.nav-links li a,
footer a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover,
footer a:hover {
  color: rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-bottom: 3px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* SLIDER */

.main-text {
  font-family: "Lobster", cursive;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-size: 4rem;
  color: rgb(34, 34, 34);
}

.intro {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slider {
  background-color: rgb(201, 182, 131);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(194, 194, 194);
  font-size: 2.5rem;
}

.hide {
  background-color: black;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  transform: translateY(100%);
}

.none {
  display: none;
}

/* O MNIE SECTION */

.about-h1,
.portfolio-h1,
.kontakt-h1 {
  font-family: "Lobster", cursive;
  color: rgb(34, 34, 34);
  padding-top: 15vh;
  font-size: 3rem;
  height: 130px;
  line-height: 130px;
  text-align: center;
  letter-spacing: 1.5px;
}

.about-col {
  padding-top: 15vh;
  margin: 50px 5vw;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 50px;
}

.left-col,
.right-col {
  position: relative;
}

.image-about {
  max-width: 35vw;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.about-p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.button {
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
  color: #fff;
  border: none;
  font-family: "Ubuntu", sans-serif;
}

/* PORTFOLIO SECTION */
.portfolio {
  padding: 0px 2.5vw;
  padding-bottom: 50px;
}

.portfolio-h1 {
  margin-bottom: 80px;
}
.cards-holder {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.card {
  margin-top: 35px;
  margin-bottom: 70px;
  height: 40vh;
  border-radius: 10px;
  text-align: center;
}

.card-img {
  max-width: 42.5vw;
  min-height: 330px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  margin-top: 25px;
}

.card-img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.card-p {
  color: rgb(34, 34, 34);
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
  margin-top: 15px;
}

/* KONTAKT SECTION */
form {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
}

.kontakt-input {
  border-radius: 5px;
  line-height: 22px;
  font-size: 18px;
  background-color: rgb(34, 34, 34);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.button-form {
  padding: 15px 50px;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
  color: #fff;
  border: none;
  font-family: "Ubuntu", sans-serif;
}

textarea {
  height: 200px;
  line-height: 150%;
  resize: vertical;
}

/* FOOTER */
footer {
  width: 100%;
  height: auto;
  background-color: rgb(34, 34, 34);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1140px) {
  .main-text {
    font-size: 3.5rem;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .landing {
    padding: 0;
  }
  nav {
    padding: 0 5rem;
  }
  .main-text {
    font-size: 3rem;
    padding-bottom: 100px;
  }
  .about-col {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 80px;
  }
  .image-about {
    max-width: 70vw;
  }
  .cards-holder {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 70px;
  }
  .card-img {
    max-width: 80vw;
    margin-top: 60px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-links {
    position: fixed;
    left: -100%;
    top: 15vh;
    gap: 0;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 22px 0;
  }
  .nav-links.active {
    left: 0;
  }
}

@media screen and (max-width: 860px) {
  .main-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 720px) {
  .main-text {
    font-size: 2.05rem;
  }
  .intro-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .main-text {
    font-size: 1.7rem;
  }
  .intro-text {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 495px) {
  .main-text {
    font-size: 1.4rem;
  }
  .intro-text {
    font-size: 1.4rem;
  }
  .about-h1,
  .portfolio-h1 {
    font-size: 2.5rem;
  }
}
